---
interface Props {
    text: string;
    authorInitials: string;
    authorName: string;
    authorTitle: string;
    stagger?: number;
}

const { text, authorInitials, authorName, authorTitle, stagger = 1 } = Astro.props;
---

<div class={`testimonial-card reveal stagger-${stagger}`}>
    <div class="testimonial-quote">"</div>
    <p class="testimonial-text">{text}</p>
    <div class="testimonial-author">
        <div class="testimonial-avatar">{authorInitials}</div>
        <div class="testimonial-info">
            <h4>{authorName}</h4>
            <p>{authorTitle}</p>
        </div>
    </div>
</div>
